.group {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.title {
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: var(--dsw-alias-label-primary);
}

.items > :global([data-slot='deepcreator.settings.preferences.item']) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--dsw-alias-border-l2);
}

.items > :global([data-slot='deepcreator.settings.preferences.item']) > * + * {
  border-top: 1px solid var(--dsw-alias-border-l2);
}
